.table {
  width: 600px;
  margin: auto;
  background-color: #40e0d0;
  display: flex;
  flex-wrap: wrap;
  cursor: url('../img/hammer.png'), pointer;
}

.table:active {
  cursor: url('../img/hammer_active.png'), pointer;
}

.cell {
  width: 120px;
  height: 120px;
  background-color: #2d2d2d;
  margin: 15px;
}

.active {
  background-image: url(../img/goblin.png);
}

